{% extends 'base.html' %}
{% block title %}My Awesome Blog- Home{% endblock title %}
{% block body %}
  
<section>
  <h2 class="container my-4">
      Recent Blog Posts
    </h2>
    
    <div class="container Recent_blog_posts">
      {% for post in posts %}
      <div class="card mx-3" style="width: 18rem; display: inline-block;">
        <img src="/media/{{post.front_banner}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <h6 class="card-subtitle">{{post.sno}}. <span class="author_text">author:</span> {{post.author}}</h6>
          <p class="card-text">{{post.description|slice:":100"}}...............</p>
          <a href="/blog-post/{{post.sno}}" class="btn btn-outline-success readmore" id="{{post.sno}}">Read Full Post</a>
        </div>
      </div>
      {% endfor %}
    </div>
    
    
    <h2 class="container my-4">
      Most Viewed Blog Posts
    </h2>
    
    <div class="container Most_Viewed_blog_posts">
      {% for post in posts %}
      <div class="card mx-3" style="width: 18rem; display: inline-block;">
        <img src="/media/{{post.front_banner}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <h6 class="card-subtitle">{{post.sno}}. <span class="author_text">author:</span> {{post.author}}</h6>
          <p class="card-text">{{post.description|slice:":100"}}...............</p>
          <a href="/blog-post/{{post.sno}}" class="btn btn-outline-success readmore" id="{{post.sno}}">Read Full Post</a>
        </div>
      </div>
      {% endfor %}
    </div>
    
    
    <h2 class="container my-4">
      Top Blog Posts
    </h2>
    
    <div class="container Top_Viewed_blog_posts">
      {% for post in posts %}
      <div class="card mx-3" style="width: 18rem; display: inline-block;">
        <img src="/media/{{post.front_banner}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <h6 class="card-subtitle">{{post.sno}}. <span class="author_text">author:</span> {{post.author}}</h6>
          <p class="card-text">{{post.description|slice:":100"}}...............</p>
          <a href="/blog-post/{{post.sno}}" class="btn btn-outline-success readmore" id="{{post.sno}}">Read Full Post</a>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </section>
  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script>
    
    $('.readmore').click(function(){
      var idstr = this.id.toString()
      console.log(idstr)
    })
  </script>
  
  {% endblock body %}